# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
dam2-frontend/node_modules
dam2-frontend/.pnp
.pnp.js

# testing
dam2-frontend/coverage

# production
dam2-frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

database
